<dom-module id="butler-app">
    <link rel="import" href="butler-app-style.html">

    <template>
        <style include="butler-app-style"></style>
        <style>
            :host {
                display: block;
            }
        </style>

<app-container>
    <!--selected="0"-->
    <iron-pages selected="1">
        <hello-view></hello-view>
        <start-view></start-view>
        <recording-view></recording-view>
        <response-view name="[[employee]]"></response-view>
    </iron-pages>
</app-container>

</template>

<script src="butler-app.js"></script>
</dom-module>