<dom-module id="butler-app">
    <link rel="import" href="butler-app-style.html">

    <template>
        <style include="butler-app-style"></style>

        <iron-media-query query="(min-width: 769px)" query-matches="{{large}}"></iron-media-query>

        <app-container large-screen$="{{large}}">
            <!-- Change for debuging different views, standard is selected="0" -->
            <iron-pages selected="0">
                <hello-view></hello-view>
                <start-view></start-view>
                <recording-view></recording-view>
                <analyzing-view></analyzing-view>
                <response-view name="[[employee]]"></response-view>
            </iron-pages>
        </app-container>

    </template>

    <script src="butler-app.js"></script>
</dom-module>