<dom-module id="hello-view">
    <template>
        <style>
            :host {
                display: block;
            }
            /*:host[visible] {
                display: block;
            }*/
        </style>

        <h1>Hello!</h1>
        <p>I'm the Ape Butler.</p>
        <p>A voice controlled door phone.</p>
        <next-button>Continue</next-button>
    </template>

    <script>
        Polymer({
            is: 'hello-view',

            properties: {
                
            }
        })
    </script>
</dom-module>