<dom-module id="hello-view">
    <template>
        <style>
            :host next-button {
                margin-top: 9rem;
            }
        </style>

        <h1 title>Hello!</h1>
        <p>I'm the Ape Butler.</p>
        <p italic>A voice controlled door phone.</p>
        <next-button on-tap="handleTap">Continue</next-button>
    </template>

    <script>
        Polymer({
            is: `hello-view`,

            handleTap: function(event) {
                this.fire(`nextView`)
            }
        })
    </script>
</dom-module>