<dom-module id="hello-view">
    <template>
        <style>
            :host {
                @apply(--view-style);
            }
        </style>

        <h1 title>Hello!</h1>
        <p body-text>I'm the Ape Butler. <span line-break></span>
        <span italic>A voice controlled door phone.</span></p>
        <action-button on-tap="handleTap">Continue</action-button>
        <!-- Contact a human functionality not yet implemented -->
        <action-button contact-human>Contact a human</action-button>
    </template>

    <script>
        Polymer({
            is: `hello-view`,
            handleTap: function(event) {
                this.fire(`nextView`)
            }
        })
    </script>
</dom-module>