<dom-module id="recording-view">
    <template>
        <style>
            :host {
                @apply(--view-style);
                align-items: center;
            }
        </style>

        <p body-text>I'm listening...</p>
        
        <animations-element recording></animations-element>
        <action-button stop-rec on-tap="handleTap">Stop Recording</action-button>
        <!-- Contact a human functionality not yet implemented -->
        <action-button contact-human>Contact a human</action-button>
    </template>
    <script>
        Polymer({
            is: `recording-view`,

            handleTap: function(event) {
                this.fire(`recordStop`)
                this.fire(`previousView`)
            }
        })
    </script>
</dom-module>