<dom-module id="response-view">
    <template>
        <style>
            :host {
                @apply(--view-style);
            }
        </style>

        <h1 heading>Ah!</h1>
        <p body-text>You are visiting <span name>[[name]]</span>.</p>
        <p body-text italic>I will notify <span name>[[name]]</span> immediately!</p>

        <!-- Contact a human functionality not yet implemented -->
        <action-button contact-human>Contact a human</action-button>
    </template>
    <script>
        Polymer({
            is: `response-view`,

            properties: {
                name: {
                    type: String,
                    value: `unknown person`
                }
            }
        })
    </script>
</dom-module>