<dom-module id="start-view">
    <template>
        <style>
            :host p > span:after {
                content:"\a";
                white-space: pre;
            }

            :host next-button {
                margin-top: 9rem;
            }
        </style>

        <p>Please tell me, <span></span>
        who are you here to see?</p>

        <p small italic>Press the button below to start recording.</p>
        <next-button rec-btn>Press to record</next-button>
        <action-button contact-human>Contact a human</action-button>
    </template>
<script>
        Polymer({
            is: 'start-view',
            
        })
    </script>
</dom-module>