<dom-module id="start-view">
    <template>
        <style>
            :host {
                @apply(--view-style);
            }
        </style>

        <p body-text>Please tell me, <span line-break></span>
        who are you here to see?</p>

        <p body-text small italic>Press the button below to start recording.</p>
        <action-button rec-btn on-tap="handleTap">Press to record</action-button>
        <!-- Contact a human functionality not yet implemented -->
        <action-button contact-human>Contact a human</action-button>
    </template>
<script>
        Polymer({
            is: `start-view`,

            handleTap: function(event) {
                this.fire(`nextView`)
                this.fire(`recordSpeech`)
            }
        })
    </script>
</dom-module>